################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CitiInfo/CitiInfo.API/bin/Debug/net6.0
/CitiInfo/CitiInfo.API/obj
/CitiInfo/.vs
/CitiInfo/CitiInfo.API/bin/Release/net6.0
/CitiInfo/CitiInfo.API/CityInfo.db-shm
/CitiInfo/CitiInfo.API/CityInfo.db-wal
